*.[oa]
*.bak
*.core
*.ninja
*.orig
*.pyc
*.so
*.sw[a-p]
*~
.ninja_*
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
config.cmake
cscope.out
cwm_client
install_manifest.txt
little_cwm
cwm
!cwm/
tags
out/
